<div class="container">
  <app-header></app-header>
  <div class="userdetails">
        <div class="form-container">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="user-form">
              <div class="form-control">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  placeholder="Enter name" 
                  formControlName="name" 
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" 
                  required
                />
                <div class="invalid-text" *ngIf="submitted && f.name.errors">
                  Enter valid name
                </div>
              </div>
              <div class="form-control">
                <label for="email">E-Mail</label>
                <input
                  type="email"
                  name="email"
                  placeholder="Enter email"
                  formControlName="email"  
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                  required
                />
                <div class="invalid-text" *ngIf="submitted && f.email.errors">
                  Enter valid email
                </div>
              </div>
              <div class="form-control">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  name="phone"
                  placeholder="Enter phone"
                  formControlName="phoneNumber"
                  [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" 
                  required
                />
                <div class="invalid-text" *ngIf="submitted && f.phoneNumber.errors">
                  Enter valid email without country code
                </div>
              </div>
              <div class="form-control">
                <label for="phone">Personal Number</label>
                <input
                  type="text"
                  name="personal_number"
                  placeholder="yyyy-mm-dd-xxxx"
                  [value]="personalNumb | maskpersonalnumber"
                  formControlName="personalNumber"
                  [ngClass]="{ 'is-invalid': submitted && f.personalNumber.errors }" 
                  required
                  (change)="changePersonalNumber()"
                />
                <div class="invalid-text" *ngIf="submitted && f.personalNumber.errors">
                  Enter valid personal number
                </div>
              </div>
              <input type="submit" value="Submit" id="submit" class="btn" />
            </form>
        </div>
  </div>
</div>
<p-dialog [(visible)]="showMessage" [dismissableMask]="true" blockScroll="true" modal="true">
  User details submitted successfully
</p-dialog>


